<html>
    <head>
        <title>Area of a Triangle!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
    </head>
    <body>
        <!--header-->
        <div class="header">
            <a href="/profile">PROFILE</a>
            <a href="/works">WORKS</a>
            <a href="/contact">CONTACT</a>
            <a href="/">HOMEPAGE</a>
            <a href="https://www.linkedin.com/in/iampierrezurbito/">LINKEDIN</a>
            <a href="https://github.com/PUP-PierreSiLog">GITHUB</a>
        </div>

        <!--content proper-->
        <h1>Find the Area of a Triangle!</h1>
        <!--FORMS PROPER-->
        <form action="/areaOfTriangle" method="post">
            <label for="InputFloat1">Input your base: </label>
            <input type="text" id="InputFloat1" name="InputFloat1">
            <br>
            <form action="/areaOfTriangle" method="post">
            <label for="InputFloat2">Input your height: </label>
            <input type="text" id="InputFloat2" name="InputFloat2">
            <br>
            <input type="Submit" value="Find the area!">
        </form>
        <!--RESULTS PROPER-->
        {% if area %}
        <p> The area is {{ area }} units</p>
        {% endif %}

    </body>
</html>