<html>
    <head>
        <title>Area of a Triangle!</title>
        <style>
            h1 {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }

            .style1  {
                font-family: arial;
            }

            a {
                color: black;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>Find the Area of a Triangle!</h1>
        <form action="/areaOfTriangle" method="post">
            <label for="InputFloat1" style="style1">Input your base: </label>
            <input type="text" id="InputFloat1" name="InputFloat1">
            <form action="/areaOfTriangle" method="post">
            <label for="InputFloat2" style="style1">Input your height: </label>
            <input type="text" id="InputFloat2" name="InputFloat2">
            <br>
            <input type="Submit" value="Find the area!">
        </form>

        {% if area %}
        <p> The area is {{ area }} units</p>
        {% endif %}
        
        <p><a href="/">Back to home!</a></p>

    </body>
</html>