<html>
    <head>
        <title>Area of a Circle!</title>
        <style>
            h1 {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }
            .style1{
                font-family: arial;
            }
        </style>
    </head>
    <body>
        <h1>Find the Area of a circle!</h1>
        <form action="/areaOfcircle" method="post">
            <label for="InputFloat" style="style1">Input your radius</label>
            <input type="text" id="InputFloat" name="InputFloat">
            <br>
            <input type="Submit" value="Find the area!">
        </form>

        {% if area %}
        <p> The area is {{ area }}</p>
        {% endif %}
        
        <p><a href="/">Back to home!</a></p>

    </body>
</html>