<html>
    <head>
        <link rel="stylesheet" type="text/css" href="basic_style.css">
        <title>Area of a Circle!</title>
    </head>
    <body>
        <h1>Find the Area of a circle!</h1>
        <form action="/areaOfcircle" method="post">
            <label for="InputFloat">Input your radius</label>
            <input type="text" id="InputFloat" name="InputFloat">
            <br>
            <input type="Submit" value="Find the area!">
        </form>

        {% if area %}
        <p> The area is {{ area }} units</p>
        {% endif %}
        
        <p><a href="/">Back to home!</a></p>

    </body>
</html>