<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
    </head>
    <body>
        <!--header-->
        <div class="header">
            <a href="/profile">PROFILE</a>
            <a href="/works">WORKS</a>
            <a href="/contact">CONTACT</a>
            <a href="/">HOMEPAGE</a>
            <a href="https://www.linkedin.com/in/iampierrezurbito/">LINKEDIN</a>
            <a href="https://github.com/PUP-PierreSiLog">GITHUB</a>
        </div>
        <br>
        <img src="{{ url_for('static', filename='construction.png') }}" alt="Construction" class="icons">
        <h1>Webpage under construction!</h1>
        <p class="username">Please come back at a later time.</p>
        <p><a href="mailto:pierrevictortzurbito@iskolarngbayan.pup.edu.ph">Click to send an email</a></p>
    </body>
</html>