<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <div class="header">
        <a href="/profile">PROFILE</a>
        <a href="/works">WORKS</a>
        <a href="/contact">CONTACT</a>
        <a href="/">HOMEPAGE</a>
        <a href="https://www.linkedin.com/in/iampierrezurbito/">LINKEDIN</a>
        <a href="https://github.com/PUP-PierreSiLog">GITHUB</a>
    </div>

    <h1>Welcome to my programming works</h1>
    <div class="gray">
        <div class="rounded-rectangle-top">
            <h2>Convert to Uppercase</h2>
            <p>Makes your text turn into uppercase.</p>
            <button><a href="/ToUppercase">Take me there!</a></button>
        </div>
        <br>
        <div class="rounded-rectangle-middle">
            <h2>Area of a Circle</h2>
            <p>Find a circle's area given the radius.</p>
            <button><a href="/areaOfcircle">Take me there!</a></button>
        </div>
        <br>
        <div class="rounded-rectangle-bottom">
            <h2>Area of a Triangle</h2>
            <p>Find the triangle's area given its height and base.</p>
            <button><a href="/areaOfTriangle">Take me there!</a></button>
        </div>
    </div>
</body>
</html>