<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <!--header-->
    <div class="header">
        <a href="/profile">PROFILE</a>
        <a href="/works">WORKS</a>
        <a href="/contact">CONTACT</a>
        <a href="/">HOMEPAGE</a>
        <a href="https://www.linkedin.com/in/iampierrezurbito/">LINKEDIN</a>
        <a href="https://github.com/PUP-PierreSiLog">GITHUB</a>
    </div>
    <br>
    <div class="profile-container">
        <div class="profile">
        <img src="{{ url_for('static', filename='IMG_5997.jpg') }}" alt="Profile Picture" class="pfp">
        <h2>Pierre Victor T. Zurbito</h2>
        <p class="username">@pierresilog</p>
        <hr>
        <p>BS Computer Engineering Student <br> Polytechnic University of the Philippines</p>
        </div>
        <div class="profile-right">
            <h2>About the Creator</h2>
            <table>
                    <td>Course, Year, Section</td>
                    <td>BSCPE 2-4</td>
                <tr>
                    <td>Age</td>
                    <td>19</td>
                <tr>
                    <td>Current Residence</td>
                    <td>Mandaluyong City</td>
                <tr>
                    <td>Home  Location</td>
                    <td>Carmona, Cavite</td>
                <tr>
                    <td>Motto in Life</td>    
                    <td>Be not simply good, be good for something.</td>
            </table>
        </div>
    </div>
</body>
</html>
