<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <!--header-->
    <div class="header">
        <a href="/profile">PROFILE</a>
        <a href="/works">WORKS</a>
        <a href="/contact">CONTACT</a>
        <a href="/">HOMEPAGE</a>
        <a href="https://www.linkedin.com/in/iampierrezurbito/">LINKEDIN</a>
        <a href="https://github.com/PUP-PierreSiLog">GITHUB</a>
    </div>
    <br>
    <div class="profile-container">
        <div class="profile">
        <img src="{{ url_for('static', filename='IMG_5997.jpg') }}" alt="Profile Picture" class="pfp">
        <h2>Pierre Victor T. Zurbito</h2>
        <p class="username">@pierresilog</p>
        <hr>
        <p> Second Year BS Computer Engineering Student <br> Polytechnic University of the Philippines</p>
        <hr>
        <p>Recipient, Merit Scholarships <br> Department of Science and Technology - Science Education Institute</p>
    </div>
        <div class="profile-right">
            <h2>About the Creator</h2>
            <hr>
            <table>
                    <td class="alignleft">Course, Year, Section: </td>
                    <td class="graytext">BSCPE 2-4</td>
                <tr>
                    <td class="alignleft">Age: </td>
                    <td class="graytext">19</td>
                </tr>
                <tr>
                    <td class="alignleft">Current Residence: </td>
                    <td class="graytext">Mandaluyong City</td>
                </tr>
                <tr>
                    <td class="alignleft">Home  Location: </td>
                    <td class="graytext">Carmona, Cavite</td>
                </tr>
                <tr>
                    <td class="alignleft">Motto in Life: </td>    
                    <td class="graytext">Be not simply good, be good for something.</td>
                </tr>
                <tr>
                    <td class="alignleft">Email Address: </td>    
                    <td class="graytext">pierrepersonal61@gmail.com <br> pierrevictortzurbito@iskolarngbayan.pup.edu.ph</td>
                </tr>
                <tr>
                    <td class="alignleft">Mobile: </td>    
                    <td class="graytext">+63 976 350 7444</td>
                </tr>
            </table>
        </div>   
        <div class="profile-right2">
            <h2>Skills</h2>
            <hr>
            <p class="aligncenter">Organizational Leadership</p>
            <div class="progress-container">
                <div class="progress-bar-leadership"></div>
            </div>
            <br>
            <p class="aligncenter">Time Management</p>
            <div class="progress-container">
                <div class="progress-bar-time-management"></div>
            </div>
            <br>
            <p class="aligncenter">Video Editing</p>
            <div class="progress-container">
                <div class="progress-bar-time-management"></div>
            </div>
        </div>
    </div>
</body>
</html>
